<div id="<%= dom_id administrador %>">
  <p>
    <strong>Nome completo:</strong>
    <%= administrador.nome_completo %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= administrador.data_de_nascimento %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrador.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= administrador.telefone %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= administrador.senha %>
  </p>

</div>
